* {
    font-family: Arial;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}

#headGrid {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    position: absolute;
    width: 100%;
    z-index:10;
}

.toolbar {
    display: flex;
    /* grid-template-columns: repeat(8, 1fr); */
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    gap: 5px;
    margin-right: 1rem;
}

#headerlogo {
    margin: 10px;
    width: 70px;
    height: 70px;
}

.tool {
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.canvasArea {
    display: flex;
}

/* #drawCanvas {
    border: 2px solid rgb(105, 174, 235);   

} */

.lineColorWidth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lineWidth {
    display: flex;
    flex-wrap: wrap;
}

#lineWidthSlider {
    margin-left: 1rem;
    margin-right: 1rem;
}